---
import Layout from '@/layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  let posts: CollectionEntry<'blog'>[] = await getCollection('blog');
  return posts.map(post => {
    return {
      params: { slug: post.slug },
      props: { entry: post },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const wordCount = entry.body?.split(/\s+/).length ?? 0;
---

<Layout title={`${entry.data.title} | Bryce Pollack`}>
  <article class="markdown-content">
    <h1>{entry.data.title}</h1>

    <div class="meta-info">
      <span>
        <i class="fa-solid fa-calendar icon"></i>
        {entry.data.pubDate}
      </span>

      <span>
        <i class="fa-solid fa-pen icon"></i>
        {wordCount} words
      </span>
    </div>

    <Content />
  </article>
</Layout>
