[data-theme='dark'] {
  --color-bg: var(--color-gray-950);
  --color-text: var(--color-gray-100);
}

[data-theme='light'] {
  --color-bg: var(--color-gray-050);
  --color-text: var(--color-gray-800);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: var(--color-gray-950);
    --color-text: var(--color-gray-100);
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --color-bg: var(--color-gray-050);
    --color-text: var(--color-gray-800);
  }
}

[data-theme='dark'] .sun,
[data-theme='light'] .moon {
  display: none;
}
