---
import Layout from '@/layouts/Layout.astro';
import profileImage from '@/assets/profile.jpg';
import { getEntry } from 'astro:content';
import IconLinkedIn from '@/components/icons/IconLinkedIn.astro';
import IconGitHub from '@/components/icons/IconGitHub.astro';
import IconDiscord from '@/components/icons/IconDiscord.astro';

const homeContent = await getEntry('pages', 'home');
const { Content } = await homeContent.render();
---

<Layout title="Bryce Pollack">
  <div class="fade-up-container">
    <div class="profile-container">
      <div class="profile-image-container">
        <img src={profileImage.src} alt="Profile photo of Bryce Pollack" class="profile-image" />
      </div>
    </div>

    <article class="prose">
      <Content />
    </article>

    <div class="social-links">
      <a
        href="https://linkedin.com/in/brycepollack"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <IconLinkedIn />
        @brycepollack
      </a>

      <a
        href="https://github.com/brycepollack"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <IconGitHub />
        @brycepollack
      </a>

      <a
        href="https://discordapp.com/users/147954160526950411"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord"
      >
        <IconDiscord />
        @brycepo
      </a>
    </div>
  </div>
</Layout>
