---
import IconSun from './icons/IconSun.astro';
import IconMoon from './icons/IconMoon.astro';
import IconMenu from './icons/IconMenu.astro';
---

<header class="header">
  <div class="header-container">
    <div class="header-container-left">
      <a href="/" class="name-link"> brycepo.com </a>
    </div>

    <div class="header-container-right">
      <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/blog" class="nav-link">Blog</a>
        <a href="/projects" class="nav-link">Projects</a>

        <button id="theme-toggle" class="theme-toggle">
          <IconSun />

          <IconMoon />
        </button>
      </nav>
      <button class="nav-menu" id="nav-menu">
        <IconMenu />
      </button>
    </div>
  </div>
</header>

<script>
  import { initThemeToggle } from '../scripts/theme-toggle';
  import { highlightCurrentNav } from '../scripts/nav-highlight';

  initThemeToggle();
  highlightCurrentNav();

  const menu = document.getElementById('nav-menu');
  const nav = document.querySelector('.nav');

  menu?.addEventListener('click', () => {
    nav?.classList.toggle('open');
  });
</script>
