---
import { Icon } from 'astro-icon/components';
---

<footer class="footer">
  <div class="social-links">
    <a
      href="https://github.com/brycepollack"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub"
    >
      <Icon name="mdi:github" class="icon" />
    </a>

    <a
      href="https://linkedin.com/in/brycepollack"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
    >
      <Icon name="mdi:linkedin" class="icon" />
    </a>

    <a
      href="https://discordapp.com/users/147954160526950411"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Discord"
    >
      <Icon name="ic:outline-discord" class="icon" />
    </a>

    <a
      href="mailto:bryce.pollack@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Email"
    >
      <Icon name="mdi:email" class="icon" />
    </a>
  </div>
  <p class="copyright">© 2026 Bryce Pollack. All rights reserved.</p>
</footer>
