---
import Header from '@/layouts/Header.astro';
import Footer from '@/layouts/Footer.astro';
import Analytics from '@/layouts/Analytics.astro';
import '@/styles/index.css';

const { title = 'Bryce Pollack' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      (() => {
        const stored = localStorage.getItem('theme');
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

        const theme =
          stored === 'dark' || stored === 'light' ? stored : prefersDark ? 'dark' : 'light';

        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme', theme);
      })();
    </script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <title set:html={title} />
    <Analytics />
  </head>
  <body>
    <Header />
    <main class="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
